.page {
    font-family: 'Inter', Arial, sans-serif;
    text-rendering: optimizeLegibility;
    background-color: #2A2C2F;
    color: white;
    margin: 0 auto;
    max-width: 74.25em;
    min-width: 20em;
 } 
