.places {
    display: grid;
    gap: 3.125em;
}
@media screen and (min-width: 321px) {
    .places {
        margin: 0 24px;
    }
}
@media screen and (min-width: 767px) {
    .places {
        margin: 0 48px;
    }
}
@media screen and (min-width: 1025px) {
    .places {
        margin: 0 148px;
    }
}