.lead {
  margin: 51px auto 62px;
}
@media screen and (min-width: 767px) {
  .lead {
    margin-bottom: 88px;
    margin-top: 45px;
  }
}
@media screen and (min-width: 1023px) {
  .lead {
    margin-bottom: 92px;
  }
}
@media screen and (min-width: 1279px) {
  .lead {
    margin-top: 54px;
  }
}
