.sections {
    display: grid;
    gap: 64px;
    margin: 0 auto;
}
@media screen and (min-width: 321px) {
    .sections {
        gap: 88px;
    }
}
@media screen and (min-width: 767px) {
    .sections {
        gap: 92px;
    }
}