.sections {
    display: grid;
    gap: 4em;
    margin: 0 auto;
}
@media screen and (min-width: 321px) {
    .sections {
        gap: 5.5em;
    }
}
@media screen and (min-width: 767px) {
    .sections {
        gap: 5.75em;
    }
}