.header {
    display: flex;
    justify-content: space-between;
    padding: 1em 1em 0;
    max-width: 74.25em;
    margin: 0 auto;
}
@media screen and (min-width: 321px) {
    .header {
        padding: 1.75em 1.5em 0;   
    }
}
@media screen and (min-width: 767px) {
    .header {
        padding: 1.85em 10px 0;   
    }
}