.header {
    display: flex;
    justify-content: space-between;
    padding: 16px 16px 0;
    min-width: 288px;
    max-width: 1184px;
    margin: 0 auto;
}
@media screen and (min-width: 767px) {
    .header {
        padding: 28px 24px 0;   
    }
}
@media screen and (min-width: 1023px) {
    .header {
        padding: 28px 48px 0;   
    }
}