.place__text {
  margin: 0 auto 25px;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
  max-width: 288px;
  box-sizing: border-box;
}
@media screen and (min-width: 767px) {
  .place__text {
    font-size: 16px;
    max-width: 352px;
  }
}
@media screen and (min-width: 1023px) {
  .place__text {
    font-size: 18px;
    max-width: 456px;
    margin: 0 auto 28px;
  }
}
@media screen and (min-width: 1279px) {
  .place__text {
    max-width: 484px;
    margin: 0 auto 23px;
  }
}
.place__text:last-child {
  margin-bottom: 0;
}
