.footer__link {
    font-weight: normal;
    font-size: 1.5em;
    line-height: 1;
    text-decoration: none;
    color: white;
}
@media screen and (min-width: 321px) {
    .footer__link {
        font-size: 1em;
        line-height: 1.125;
    }
}