.lead__title {
    margin: 0 0.4em 0.4em;
    font-weight: 900;
    font-size: 2.5em;
    line-height: 1.1;
    text-align: center;
}
@media screen and (min-width: 321px) {
    .lead__title {
        margin: 0 0.25em 0.33em;
        font-size: 6em;
        line-height: 1.04;
    }
}
@media screen and (min-width: 767px) {
    .lead__title {
        margin: 0 1.58em 0.33em;
    }
}
@media screen and (min-width: 1025px) {
    .lead__title {
        margin: 0px 279px 0.33em 254px;
    }
}