.footer__copyright {
    font-weight: normal;
    font-size: 0.875em;
    line-height: 1;
    margin: 0;
    margin-bottom: 1.71em;
}   
@media screen and (min-width: 321px) {
    .footer__copyright {
        font-size: 1em;
        line-height: 1.125;
    }
}