.footer__copyright {
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  margin: 0;
  margin-bottom: 24px;
}
@media screen and (min-width: 767px) {
  .footer__copyright {
    line-height: 16px;
    min-width: 186px;
  }
}
