.intro {
    margin-left: 1em;
    max-width: 690px;
}
@media screen and (min-width: 767px) {
    .intro {
        margin-left: 48px;     
    }
}
@media screen and (min-width: 1025px) {
    .intro {
        margin-left: 107px;
    }
}