.intro {
  margin: 0 auto;
  margin-bottom: 64px;
}
@media screen and (min-width: 767px) {
  .intro {
    margin-bottom: 88px;
  }
}
@media screen and (min-width: 1023px) {
  .intro {
    margin-left: 48px;
    margin-bottom: 92px;
  }
}
@media screen and (min-width: 1279px) {
  .intro {
    margin-left: 102px;
  }
}
