.cover {
    margin-bottom: 64px;
}
@media screen and (min-width: 321px) {
    .cover {
        margin-bottom: 88px;
    }
}
@media screen and (min-width: 1023px) {
    .cover {
        margin-bottom: 92px;
    }
}