.cover__overlay {
    position: relative;
    background-image: url(./../../../images/__background.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 200px;
    text-align: center;
   /* margin-bottom: 64px;*/
}
@media screen and (min-width: 500px) {
    .cover__overlay {
        min-height: 470px;
        /*margin-bottom: 88px;*/
    }
}

@media screen and (min-width: 767px) {
    .cover__overlay {
        min-height: 480px;
        /*margin-bottom: 88px;*/
    }
}
@media screen and (min-width: 1023px) {
    .cover__overlay {
        min-height: 640px;
      /*  margin-bottom: 92px;*/
    }
}
@media screen and (min-width: 1279px) {
    .cover__overlay {
        min-height: 740px;
    }
}
.cover__overlay::before {
    content: '';
    background-color: #2A2C2F;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.cover__overlay:hover::before {
     opacity: 0.8;
     cursor: pointer;
}