.place {
    display: grid;
    gap: 2em;
}
@media screen and (min-width: 767px) {
    .place {
        grid-template-columns: repeat(2, 1fr);
        gap: 48px 28px;
    } 
}
@media screen and (min-width: 1023px) {
    .place {
        gap: 48px 32px;
    } 
}
@media screen and (min-width: 1279px) {
    .place {
        gap: 48px 40px;
    } 
}