.footer {
    display: grid;
    gap: 3em;
    padding-left: 1em;
    max-width: 74.25em;
    margin: 0 auto;
}
@media screen and (min-width: 321px) {
    .footer {
        display: flex;
        justify-content: space-between;
        padding: 0;     
    }
}
@media screen and (min-width: 767px) {
    .footer {
        padding: 0;     
    }
}