.photo-grid__image {
    width: 288px;
    height: 216px;
}
@media screen and (min-width: 767px) {
    .photo-grid__image {
        width: 352px;
        height: 264px;
    }
}
@media screen and (min-width: 767px) {
    .photo-grid__image {
        width: 300px;
        height: 225px;
    }
}
@media screen and (min-width: 1079px) {
    .photo-grid__image {
        width: 284px;
        height: 213px;
    }
}