.photo-grid__image {
    width: 18em;
    height: 13.5em;
}
@media screen and (min-width: 321px) {
    .photo-grid__image {
        width: 22em;
        height: 16.5em;
    }
}
@media screen and (min-width: 767px) {
    .photo-grid__image {
        width: 18.75em;
        height: 14.06em;
    }
}
@media screen and (min-width: 1025px) {
    .photo-grid__image {
        width: 17.75em;
        height: 13.31em;
    }
}