.place__website {
    margin: 0;
    padding: 0 1em;
    display: flex;
    flex-direction: column;
}
@media screen and (min-width: 321px) {
    .place__website{
        padding: 0;
        justify-content: flex-end;
    }
}